<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Ganado Hembra</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">Ganado Hembra</li>
							<li class="breadcrumb-item active">Registro Ganado Hembra</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card container">
							<div class="card-body">
								<form th:action="@{/ganadoHembra/save}" method="post"
									th:object="${ganadoHembraForm}">
									<div class="form-row">
										<div class="col-md-6">
											<div class="form-group row">												
												<label class="col-form-label col-md-5">CUIA</label>												
												<div class="col-7">
													<input type="number"
													class="form-control" th:field="*{cuiaGana}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Alias</label>
												<div class="col-7">
													<input type="text"
													class="form-control" th:field="*{aliaGana}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Fech. Nacimiento</label>
												<div class="col-7">
													<input type="date"
													class="form-control" th:field="*{fechNaciGana}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Peso(Kg)</label>
												<div class="col-7">
													<input type="text"
													class="form-control" th:field="*{pesoGana}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Talla(m)</label>
												<div class="col-7">
													<input type="text"
													class="form-control" th:field="*{tallGana}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Estado Activo</label>
												<div class="col-7">
													<select class="form-control" th:field="*{idEstaActi}">
														<option value="1">Seca</option>
														<option value="2">Preñada</option>
														<option value="3">Produccion</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Partos</label>
												<div class="col-7">
													<input type="number"
													class="form-control" th:field="*{cantPartGana}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Genotipo</label>
												<div class="col-7">
													<select class="form-control" th:field="*{idGeno}">
														<option value="1">Hereford</option>
														<option value="2">Charolais</option>
														<option value="3">Limousin</option>
														<option value="4">Brahman</option>
														<option value="5">Gyrolando</option>
														<option value="6">Brown Swiss</option>
														<option value="7">Criollo</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											
											
											<div class="form-group row">
												<label class="col-form-label col-md-5">Tipo</label>
												<div class="col-7">
													<select class="form-control" th:field="*{idTipoGana}">
														<option value="1">Leche</option>
														<option value="2">Carne</option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Origen</label>
												<div class="col-7">
													<div class="form-check">
													  	<input  class="form-check-input" type="radio" name="exampleRadios" id="idAutoctono" th:field="*{idOrig}" value="1" checked>
													  	<label class="form-check-label" for="idAutoctono">
													    	Autoctono
													  	</label>
													</div>
													<div class="form-check">
													  	<input class="form-check-input" type="radio" name="exampleRadios" th:field="*{idOrig}" id="idComprado" value="2">
													  	<label class="form-check-label" for="idComprado">
													    	Comprado
													  	</label>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-6">
													<div class="form-check">
													  	<input  class="form-check-input" type="radio" name="exampleRadios" id="idInseminacion" checked>
													  	<label class="form-check-label" for="idInseminacion">
													    	Inseminacion
													  	</label>
													</div>
												</div>
												<div class="col-6">
													<div class="form-check" id="groupOrigen">
													  	<input class="form-check-input" type="radio" name="exampleRadios" id="idMonte">
													  	<label class="form-check-label" for="idMonte">
													    	Monte
													  	</label>
													</div>
												</div>
												
													
											</div>
											<div class="form-group row">
												<label for="cuiaMadreInput" class="col-form-label col-md-5">CUIA Madre</label>
												<div class="col-4">
													<input id="cuiaMadreInput" type="number"
													class="form-control" th:field="*{cuiaMadr}" />
												</div>
												<div class="col-3">
													<!-- <a href="listarHembras" id="botonVerificarMadre" class="btn btn-info" data-toggle="modal" onClick="test()"
													 data-target="#buscarMadre" role="button">Buscar</a> -->
													 <button id="botonVerificarMadre" class="btn btn-info" onClick="test()" type="button">Buscar</button>
													 
													 <span id="esValido" style="visibility: hidden">VALIDO</span>
													 <span id="noValido" style="visibility: hidden">NO VALIDO</span>
													 
													
													<!-- MODAL BUSCAR MADRE -->													
													<div class="modal fade" id="buscarMadre" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-lg" role="document">
													    	<div class="modal-content ">
													      		<div class="modal-header">
													        		<h5 class="modal-title" id="exampleModalLabel">BOVINAS</h5>
													        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													          	<span aria-hidden="true">&times;</span>
													        	</button>
													      		</div>
															    <div class="modal-body">
															        <table id="myTable"
																		class="table table-bordered table-hover toggle-circle footable-loaded footable tablet breakpoint"
																		style="width: 100%">
																		<thead>
																			<tr>
																				<th>CUIA</th>											
																				<th>Etapa</th>
																				<th>Alias</th>
																				<th>Fecha Nacimiento</th>
																				<th>Peso</th>
																				<th>Talla</th>
																				
																				<th>Genotipo</th>
																				<th>Tipo</th>
																		</thead>
																		<tbody>
																		<tr th:each="model : ${listGanadoHembra}">
																				<td th:text="${model.cuiaGana}"></td>											
																				<td th:text="${model.etapaGana}"></td>
																				<td th:text="${model.aliaGana}"></td>
																				<td th:text="${model.fechNaciGana}"></td>
																				<td th:text="${model.pesoGana}"></td>
																				<td th:text="${model.tallGana}"></td>
																				
																				<td th:text="${model.idGeno}"></td>
																				<td th:text="${model.idTipoGana}"></td>
									
																			</tr>
																		</tbody>
																	</table>
															    </div>
														      	<div class="modal-footer">
														        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														        	<button type="button" class="btn btn-primary">Save changes</button>
														      	</div>
													    	</div>
													  	</div>
													</div>
													<!-- END MODAL BUSCAR MADRE -->
												</div>
											</div>
											<div class="form-group row">
												<label for="cuiaPadreInput" class="col-form-label col-md-5">CUIA Padre</label>
												<div class="col-4">
													<input id="cuiaPadreInput" type="number" disabled
													class="form-control" th:field="*{cuiaPadr}" />
												</div>
												<div class="col-3">
													<button type="button" class="btn btn-info" data-toggle="modal" data-target="#buscarPadre">Buscar</button>
													<!-- MODAL BUSCAR PADRE -->
													<!-- Modal -->
													<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
														<div class="modal-dialog" role="document">
													    	<div class="modal-content">
													      		<div class="modal-header">
													        		<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
													        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													          	<span aria-hidden="true">&times;</span>
													        	</button>
													      		</div>
															    <div class="modal-body">
															        
															    </div>
														      	<div class="modal-footer">
														        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														        	<button type="button" class="btn btn-primary">Save changes</button>
														      	</div>
													    	</div>
													  	</div>
													</div>
													<!-- END MODAL BUSCAR PADRE -->
												</div>
											</div>
											<div class="form-group row">
												<label for="codiInseminInput" class="col-form-label col-md-5">Codigo Insemin.</label>
												<div class="col-7">
													<input id="codiInseminInput" type="number"
													class="form-control" th:field="*{codiPropInse}" />
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5">Observación</label>
												<div class="col-7">
													<input type="text"
													class="form-control" th:field="*{obse}" />
												</div>
											</div>
										</div>
										<button type="submit" class="btn btn-danger"
											style="align-content: center; width: 300px; height: 45px">Guardar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
	<script type="text/javascript">
		$("#botonVerificarMadre");
		
		function test(){
			var id = $("#cuiaMadreInput").val();

 			$.ajax({
			  type: "POST",
			  //url: "/consultar/"+id,
			  url: "/consultar",
			  data:{id: }
			  success: function(resp){
			  	console.log("recibiendo respo", resp);
			  	
			  	if(resp==true)
			  		$("#esValido").show()
			  	else
			  		$("#noValido").show()
			  },
			  dataType: "JSON"
			});
 
// 			$.get( "/consultar/"+id, function( data ) {
// 				console.log("DATO:",data)
// 				});
		}
		
	</script>
	<script type="text/javascript">
		var autoctono = document.getElementById('idAutoctono');
		var comprado = document.getElementById('idComprado');
	
		var cuiaMadre = document.getElementById('cuiaMadreInput');
		var cuiaPadre = document.getElementById('cuiaPadreInput');
		var codiInse = document.getElementById('codiInseminInput');
		
		var insemi = document.getElementById('idInseminacion');
		var monte = document.getElementById('idMonte');
		
		var groupOrigen = document.getElementById('groupOrigen');
	
		function habilitarInputs(){
			if (autoctono.checked) {
				cuiaMadre.disabled=false;
				cuiaPadre.disabled=true;
				codiInse.disabled=false;
				insemi.disabled = false;
				monte.disabled = false;
				
			}else{
				cuiaMadre.disabled=true;
				codiInse.disabled = true;
				cuiaPadre.disabled=true;
				insemi.disabled = true;
				monte.disabled = true;
				
				cuiaPadre.value=0;
				codiInse.value=0;
				cuiaMadre.value= 0;
			}
		}
			autoctono.addEventListener('change', habilitarInputs)
			comprado.addEventListener('change', habilitarInputs)
		
	</script>
	<script type="text/javascript">
		var insemi = document.getElementById('idInseminacion');
		var monte = document.getElementById('idMonte');
	
		var cuiaMadre = document.getElementById('cuiaMadreInput');
		var cuiaPadre = document.getElementById('cuiaPadreInput');
		var codiInse = document.getElementById('codiInseminInput');
	
		function habilitarInputs(){
			if (insemi.checked) {
				cuiaMadre.disabled=false;
				codiInse.disabled=false;
				cuiaPadre.disabled=true;
				cuiaPadre.value=0;
				
			}else{
				cuiaMadre.disabled=false;
				codiInse.disabled = true;
				cuiaPadre.disabled=false;
				codiInse.value=0;
			}
		}
			insemi.addEventListener('change', habilitarInputs)
			monte.addEventListener('change', habilitarInputs)
		
	</script>
</body>
</html>