<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Registrar Ganado Hembra</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">Ganado Hembra</li>
							<li class="breadcrumb-item active">Registro Ganado Hembra</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card container">
							<div class="card-body">
								<form th:action="@{/ganadoHembra/save}" method="post"
									th:object="${ganadoHembraForm}" name="myForm">
									<div class="form-row">
										<div class="col-md-6">
											<div class="card border-dark mb-3" >
												<div class="card-header">
													Información principal
												</div>
												<div class="card-body text-secondary">
													<div class="form-group row">												
														<label class="col-form-label col-md-5">CUIA</label>												
														<div class="col-7">
															<input type="number"
															class="form-control" th:field="*{cuiaGana}" />
														</div>
													</div>
													<div class="form-group row">
														<label class="col-form-label col-md-5">Alias</label>
														<div class="col-7">
															<input type="text"
															class="form-control" th:field="*{aliaGana}" />
														</div>
													</div>
													<div class="form-group row">
														<label class="col-form-label col-md-5">Fech. Nacimiento</label>
														<div class="col-7">
															<input type="date"
															class="form-control" th:field="*{fechNaciGana}" />
														</div>
													</div>
													<div class="form-group row">
														<label class="col-form-label col-md-5">Función</label>
														<div class="col-7">
															<select class="form-control" th:field="*{idTipoGana}">
																<option value="0">Seleccione</option>
																<option value="1">Leche</option>
																<option value="2">Carne</option>
																<option value="3">Tracción</option>
																<option value="4">Doble proósito</option>
																<option value="5">Triple proósito</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-form-label col-md-5">Genotipo</label>
														<div class="col-7">
															<select class="form-control" th:field="*{idGeno}">
																<option value="0">Seleccione</option>
																<option value="1">Hereford</option>
																<option value="2">Charolais</option>
																<option value="3">Limousin</option>
																<option value="4">Brahman</option>
																<option value="5">Gyrolando</option>
																<option value="6">Brown Swiss</option>
																<option value="7">Criollo</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
													<label class="col-form-label col-md-5">Estado Activo</label>
													<div class="col-7">
														<select class="form-control" th:field="*{idEstaActi}">
															<option value="0">Seleccione</option>
															<option value="1">Seca</option>
															<option value="2">Preñada</option>
															<option value="3">Produccion</option>
															<option value="4">NA</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-form-label col-md-5">Partos</label>
													<div class="col-7">
														<input type="number"
														class="form-control" th:field="*{cantPartGana}" />
													</div>
												</div>
												
												</div>
											</div>																																																																	
											<div class="card border-dark mb-3" >
												<div class="card-header">
													Pesaje
												</div>
												<div class="card-body text-secondary">													
											     	<div class="form-group row">
														<label class="col-form-label col-md-5">Peso(Kg)</label>
														<div class="col-7">
															<input type="text"
															class="form-control" th:field="*{pesoGana}" />
														</div>
													</div>
													<div class="form-group row">
														<label class="col-form-label col-md-5">Talla(m)</label>
														<div class="col-7">
															<input type="text"
															class="form-control" th:field="*{tallGana}" />
														</div>
													</div>												     													   	
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="card border-dark mb-3" >
												<div class="card-header">
													Origen
												</div>
												<div class="card-body text-secondary">
													<div class="form-group row">
														<label class="col-form-label col-md-5">Origen</label>
														<div class="col-7">
															<div class="form-check">
															  	<input class="form-check-input" type="radio" name="exampleRadios" id="idAutoctono" checked th:field="*{idOrig}" value="1" >
															  	<label class="form-check-label" for="idAutoctono">
															    	Autoctono
															  	</label>
															</div>
															<div class="form-check">
															  	<input class="form-check-input" type="radio" name="exampleRadios" th:field="*{idOrig}" id="idComprado" value="2">
															  	<label class="form-check-label" for="idComprado">
															    	Comprado
															  	</label>
															</div>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-6">
															<div class="form-check">
															  	<input  class="form-check-input" type="radio" name="exampleRadios" id="idInseminacion" checked>
															  	<label class="form-check-label" for="idInseminacion">
															    	Inseminacion
															  	</label>
															</div>
														</div>
														<div class="col-6">
															<div class="form-check" id="groupOrigen">
															  	<input class="form-check-input" type="radio" name="exampleRadios" id="idMonte">
															  	<label class="form-check-label" for="idMonte">
															    	Monte
															  	</label>
															</div>
														</div>																												
													</div>
													<div class="form-group row">
														<label for="cuiaMadreInput" class="col-form-label col-md-5">CUIA Madre</label>
														<div class="col-4">
															<input id="cuiaMadreInput" type="number"
															class="form-control" th:field="*{cuiaMadr}" name="cuiaMadr" />
														</div>
														<div class="col-3">
															<!-- <a href="listarHembras" id="botonVerificarMadre" class="btn btn-info" data-toggle="modal" onClick="test()"
															 data-target="#buscarMadre" role="button">Buscar</a> -->
															 <input type="button" class="btn btn-rounded btn-success" id="Buscar" onclick="fun()"
															value="Buscar" />																													 															 												
														</div>
													</div>
													<div class="row">														
														<div class="col-md-5">																						
														</div>								
														<div class="col-md-7" style=" padding-bottom: 30px;">
															<span id="cont1"></span>															
														</div>																				
													</div>
													<div class="form-group row">
														<label for="cuiaPadreInput" class="col-form-label col-md-5">CUIA Padre</label>
														<div class="col-4">
															<input id="cuiaPadreInput" type="number" disabled
															class="form-control" th:field="*{cuiaPadr}" />
														</div>
														<div class="col-3">
															<input type="button" class="btn btn-rounded btn-success" id="BuscarPadre" onclick="funp()"
															value="Buscar" />													
														</div>
													</div>
													<div class="row">														
														<div class="col-md-5">																						
														</div>								
														<div class="col-md-7" style=" padding-bottom: 30px;">
															<span id="cont2"></span>															
														</div>																				
													</div>
													<div class="form-group row">
														<label for="codiInseminInput" class="col-form-label col-md-5">Codigo Insemin.</label>
														<div class="col-7">
															<input id="codiInseminInput" type="number"
															class="form-control" th:field="*{codiPropInse}" />
														</div>
													</div>
													<br><br><br><br>													
												</div>
											</div>																																
											<div class="card border-dark mb-3" >
												<div class="card-header">
													Información adicional
												</div>
												<div class="card-body text-secondary">
													<div class="form-group row">
														<label class="col-form-label col-md-5">Observación</label>
														<div class="col-7">
															<textarea class="form-control" rows="5" th:field="*{obse}"></textarea>
														</div>
													</div>
												</div>
											</div>											
										</div>
										<button type="submit" class="btn btn-danger"
											style="align-content: center; width: 300px; height: 45px">Guardar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>

	<!-- SCRIPT DE RADIO BUTTON AUTOCTONO - COMPRADO -->
	<script type="text/javascript">
		var autoctono = document.getElementById('idAutoctono');
		var comprado = document.getElementById('idComprado');
	
		var cuiaMadre = document.getElementById('cuiaMadreInput');
		var cuiaPadre = document.getElementById('cuiaPadreInput');
		var codiInse = document.getElementById('codiInseminInput');
		
		var insemi = document.getElementById('idInseminacion');
		var monte = document.getElementById('idMonte');
		
		var groupOrigen = document.getElementById('groupOrigen');
	
		function habilitarInputs(){
			if (autoctono.checked) {
				cuiaMadre.disabled=false;
				cuiaPadre.disabled=true;
				codiInse.disabled=false;
				insemi.disabled = false;
				monte.disabled = false;
				insemi.checked = true;
				cuiaPadre.value=0;
			}else{
				cuiaMadre.disabled=true;
				codiInse.disabled = true;
				cuiaPadre.disabled=true;
				insemi.disabled = true;
				monte.disabled = true;
				
				cuiaPadre.value=0;
				codiInse.value=0;
				cuiaMadre.value= 0;
			}
		}
			autoctono.addEventListener('change', habilitarInputs)
			comprado.addEventListener('change', habilitarInputs)
		
	</script>
	<!-- END SCRIPT DE RADIO BUTTON AUTOCTONO - COMPRADO -->
	
	<!-- SCRIPT DE RADIO BUTTON INSEINACION-MONTE-->
	<script type="text/javascript">
		var insemi = document.getElementById('idInseminacion');
		var monte = document.getElementById('idMonte');
	
		var cuiaMadre = document.getElementById('cuiaMadreInput');
		var cuiaPadre = document.getElementById('cuiaPadreInput');
		var codiInse = document.getElementById('codiInseminInput');
	
		function habilitarInputs(){
			if (insemi.checked) {
				cuiaMadre.disabled=false;
				codiInse.disabled=false;
				cuiaPadre.disabled=true;
				cuiaPadre.value=0;
				
			}else{
				cuiaMadre.disabled=false;
				codiInse.disabled = true;
				cuiaPadre.disabled=false;
				codiInse.value=0;
			}
		}
			insemi.addEventListener('change', habilitarInputs)
			monte.addEventListener('change', habilitarInputs)
		
	</script>
	<!-- END SCRIPT DE RADIO BUTTON INSEINACION-MONTE-->
	
	<script type="text/javascript">
		
			document.getElementById("Buscar").onclick = function fun() {
				var x = document.forms["myForm"]["cuiaMadr"].value;
				var Url = "http://localhost:8080/buscar/verificarMadreGanadoVacuno/"
						+ x;
				var xhr = new XMLHttpRequest();
				xhr.open('GET', Url, true);
				xhr.send();
				xhr.onreadystatechange = processRequest;
				function processRequest(e) {
					if (xhr.readyState == 4 && xhr.status == 200) {
						var response1 = JSON.parse(xhr.responseText);
						var result = "Cuia Ganado: ";
						result += response1.cuiaGana + "\n";
						result += "Alias: ";
						result += response1.aliaGana + "\n";
						alert(result);
						document.getElementById('cont1').style.color="#00b300";
						document.getElementById('cont1').innerHTML = 'El cuia ingresado Valido';
					}
					else {
						document.getElementById('cont1').style.color="#ff0000";
						document.getElementById('cont1').innerHTML = 'El cuia ingresado es Incorrecto';
					}
				}
			}
		
		
			document.getElementById("BuscarPadre").onclick = function funp() {
				var x = document.forms["myForm"]["cuiaPadr"].value;
				var Url = "http://localhost:8080/buscar/verificarMadreGanadoVacuno/"
						+ x;
				var xhr = new XMLHttpRequest();
				xhr.open('GET', Url, true);
				xhr.send();
				xhr.onreadystatechange = processRequest;
				function processRequest(e) {
					if (xhr.readyState == 4 && xhr.status == 200) {
						var response1 = JSON.parse(xhr.responseText);
						var result = "Cuia Ganado: ";
						result += response1.cuiaGana + "\n";
						result += "Alias: ";
						result += response1.aliaGana + "\n";
						alert(result);
						
						document.getElementById('cont2').style.color="#00b300";
						document.getElementById('cont2').innerHTML = 'El cuia ingresado Valido';
						
					}else {
						
						document.getElementById('cont2').style.color="#ff0000";
						document.getElementById('cont2').innerHTML = 'El cuia ingresado es Incorrecto';
						
					}
				}
			}
		
	</script>
	
	
</body>
</html>