<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Ganado Enfermo</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">Ganado Enfermo</li>
							<li class="breadcrumb-item active">Registro Ganado Enfermo</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card container">
							<div class="card-body">
								<form th:action="@{/ganadoEnfermo/save}" method="post"
									th:object="${ganadoEnfermoForm}"enctype="multipart/form-data"
									name="myForm">
									<div class="row">
									<div class="col-md-6">
										<div class="card border-dark mb-3">
										<div class="card-header">Información del ganado</div>
										<div class="form-group row">
							<div class="col-md-7">
								<label for="recipient-name" class="col-form-label">CUIA</label> <input type="text" class="form-control"
									name="cuiaGana">
							</div>
							<div class="col-md-3" style="margin-top: 35px">
								<div>
									<input type="button" id="Buscar" onclick="buscar()"
										value="Validar" class="btn btn-danger" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<table class="table table-bordered table-hover toggle-circle footable-loaded footable tablet breakpoint"
									style="width: 100%">
								<thead>
									<tr> 
										<th>Alias</th>
										<th>Fecha de nacimiento</th>
										<th>Edad</th>
										<th>Etapa</th>
										
										
									</tr>
								</thead>
								<tbody>
								<tr> 
									<td id="ValiAlias"></td>
									<td id="ValiFechaNacimiento"></td>
									<td id="ValiEdad"></td>
									<td id="ValiEtap"></td>
									
									
								</tr>
								</tbody>
							</table>
							<span id="cont1"></span>
						</div>
										</div>
										</div>
										<div class="col-md-6">
											<div class="card border-dark mb-3">
												<div class="card-header">Información médica</div>
												<br>
												<div class="form-group row">
										<div class="col-6">
											<label for="idEnfe">Enfermedad</label> <select
												class="form-control col-12" th:field="*{idEnfe}">
												<option value="0">--Seleccionar--</option>
												<option value="1">Mastitis</option>
												<option value="2">Hemolactea</option>
												<option value="3">Babesiosis</option>
												<option value="4">Brucelosis</option>
												<option value="5">Fiebre abstosa</option>
												<option value="6">Tuberculosis</option>
												<option value="7">Clostridiosis</option>
												<option value="8">Leptospirosis</option>
												<option value="9">Problemas en las patas</option>
												<option value="10">Dermatitis necrotica</option>
												<option value="11">Otro</option>
											</select>
										</div>
										</div>
										
										<div class="form-group row">
										<div class="col-10">
													<label for="fechIngr">Fecha de ingreso enfermo</label> 
													<input type="date" class="form-control" th:field="*{fechIngr}" />
										</div>	
										</div>
										<div class="form-group row">
										<div class="col-10">
													<label for="obse">Observación (Máximo 100 caracteres)</label>
													 <textarea class="form-control" rows="5"
																th:field="*{obse}"></textarea>
										</div>
										</div>
													
											</div>
										</div>
										</div>
									<button type="submit" class="btn btn-danger"
										style="align-content: center; width: 300px; height: 45px">Guardar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section th:replace="layout/plantillaRecursos :: query"></section>
	<script type="text/javascript">
			document.getElementById("Buscar").onclick = function buscar() {
				var x = document.forms["myForm"]["cuiaGana"].value;
				var Url = "http://localhost:8080/buscar/verificarMadreGanadoVacuno/"
						+ x;
				var xhr = new XMLHttpRequest();
				xhr.open('GET', Url, true);
				xhr.send();
				xhr.onreadystatechange = processRequest;
				function processRequest(e) {
					if (xhr.readyState == 4 && xhr.status == 200) {
						var response1 = JSON.parse(xhr.responseText);
						document.getElementById('ValiEdad').innerHTML = response1.edadGana;
						document.getElementById('ValiEtap').innerHTML = response1.etapaGana;
						document.getElementById('ValiAlias').innerHTML = response1.aliaGana;
						document.getElementById('ValiFechaNacimiento').innerHTML = response1.fechNaciGana;
						document.getElementById('cont1').innerHTML = 'El CUIA ingresado es válido';
					}else {
						document.getElementById('cont1').innerHTML = 'El CUIA ingresado es incorrecto';
					}
				}
		}
	</script>
</body>
</html>