<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantilla :: head"></head>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantilla :: header"></header>
		<aside th:replace="layout/plantilla :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Dashboard General</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a>
							</li>
							<li class="breadcrumb-item">Dashboard General</li>
							<li class="breadcrumb-item active">Dashboard General</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<div class="card">
							<div class="card-body">
								<div class="d-flex no-block">
									<div class="m-r-20 align-self-center">
										<span class="lstick m-r-20"></span><img
											src="img/icon/expense.png" alt="Income">
									</div>
									<div class="align-self-center">
										<h6 class="text-muted m-t-10 m-b-0">Total de
											Produccion(lts)</h6>
										<h2 class="m-t-0" id="cont1" style="text-align: center;"></h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card">
							<div class="card-body">
								<div class="d-flex no-block">
									<div class="m-r-20 align-self-center">
										<span class="lstick m-r-20"></span><img
											src="img/icon/expense.png" alt="Income">
									</div>
									<div class="align-self-center">
										<h6 class="text-muted m-t-10 m-b-0">Total de Registros</h6>
										<h2 class="m-t-0" id="cont4" style="text-align: center;"></h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card">
							<div class="card-body">
								<div class="d-flex no-block">
									<div class="m-r-20 align-self-center">
										<span class="lstick m-r-20"></span><img
											src="img/icon/expense.png" alt="Income">
									</div>
									<div class="align-self-center">
										<h6 class="text-muted m-t-10 m-b-0">Total Ganado Macho</h6>
										<h2 class="m-t-0" id="idRegistroMacho"
											style="text-align: center;"></h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card">
							<div class="card-body">
								<div class="d-flex no-block">
									<div class="m-r-20 align-self-center">
										<span class="lstick m-r-20"></span><img
											src="img/icon/expense.png" alt="Income">
									</div>
									<div class="align-self-center">
										<h6 class="text-muted m-t-10 m-b-0">Total Ganado Hembra</h6>
										<h2 class="m-t-0" id="idRegistroHembra"
											style="text-align: center;"></h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="d-flex no-block">
									<div class="m-r-20 align-self-center">
										<span class="lstick m-r-20"></span>
									</div>
									<div class="align-self-center">
										<h4 class="text-muted m-t-10 m-b-0">Produccion de leche
											por mes</h4>
										<br>
									</div>
								</div>
								<canvas id="myChart1" class="p-relative"></canvas>
							</div>
						</div>
					</div>
					<!--  
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<div class="d-flex no-block">
									<div class="m-r-20 align-self-center">
										<span class="lstick m-r-20"></span>
									</div>
									<div class="align-self-center">
										<h4 class="text-muted m-t-10 m-b-0">Produccion de leche
											por mes</h4>
										<br>
									</div>
								</div>
								<canvas id="myChart"></canvas>
							</div>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantilla :: query"></section>
	<script type="text/javascript" src="js/dashboard.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script type="text/javascript">
		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {
			type : 'line',
			data : {
				labels : [ 'January', 'February', 'March', 'April', 'May',
						'June', 'July' ],
				datasets : [ {
					label : 'My First dataset',
					backgroundColor : 'rgb(255, 99, 132)',
					borderColor : 'rgb(255, 99, 132)',
					data : [ 0, 10, 5, 2, 20, 30, 45 ]
				} ]
			},
			options : {}
		});
	</script>-->
</body>
</html>














