<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Inseminación</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">inseminación</li>
							<li class="breadcrumb-item active">Registro Inseminación</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card container">
							<div class="card-body">
								<form th:action="@{/inseminacion/save}" method="post"
									th:object="${inseminacionForm}" enctype="multipart/form-data"
									name="myForm">
									<div class="form-row">
										<div class="col-md-6">
											<div class="card border-dark mb-3" >
												<div class="card-header">
												Información del Ganado Vacuno</div>
									<div class="card-body text-secondary">
										<div class="form-group row">
														<label for="codiInseminInput" class="col-form-label col-md-3">Código Pajilla.</label>
														<div class="col-5">
															<input id="codiInseminInput" type="number"
															class="form-control" th:field="*{codiPropInse}" required/>
														</div>
														<div class="col-3">
															<input type="button" class="btn btn-rounded btn-success" id="BuscarCodigoInsem" onclick="func()"
															value="Verificar" required/>													
														</div>
														<div class="col-1" style=" padding-top: 5px;">																										
															<a th:href="@{/inseminacion/agregarInseminacion}" target="_blank">
																<span class="material-icons" >
																	add_circle
																</span>
															</a>																 
														</div>
													</div>
													<div class="row">														
														<div class="col-md-5">																						
														</div>								
														<div class="col-md-7" style=" padding-bottom: 30px;">
															<span id="cont3"></span>															
														</div>																				
													</div>	
										<div class="form-group row">
											<label class="col-form-label col-md-5">Genotipo</label>
											<div class="col-7">
												<select class="form-control" th:field="*{idGeno}">
												<option value="1">Hereford</option>
												<option value="2">Charolais</option>
												<option value="3">Limousin</option>
												<option value="4">Brahman</option>
												<option value="5">Gyrolando</option>
												<option value="6">Brown Swiss</option>
												<option value="7">Criollo</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
											<label class="col-form-label col-md-5">Peso(Kg)</label> 
											<div class="col-7">
											<input type="number" class="form-control" th:field="*{pesoPropInse}" />
										</div>
							</div>
										<div class="form-group row">
											<label class="col-form-label col-md-5">Talla(m)</label> 
											<div class="col-7">
											<input type="number" class="form-control" th:field="*{tallPropInse}" />
										</div>
										</div>
								</div>
							</div>
							</div>
								<div class="col-md-6">
								<div class="card border-dark mb-3" >
												<div class="card-header">Información de Compra</div>								
									<div class="card-body text-secondary">
													<div class="form-group row">
														<label class="col-form-label col-md-5">Lugar de Procedencia</label> 
														<div class="col-7">
														<input type="text" class="form-control" th:field="*{lugaPropInse}" required>
										</div>
										</div>
										<div class="form-group row">
														<label class="col-form-label col-md-5">Precio s/.</label> 
														<div class="col-7">
														<input type="number" class="form-control" th:field="*{precPropInse}" required>
										</div>
									</div>
										<div class="form-group row">
														<label class="col-form-label col-md-5">Fecha de compra</label> 
														<div class="col-7">
														<input type="date" class="form-control"	th:field="*{fechCompPropInse}" />
										</div>
									</div>
										<div class="form-group row">
														<label class="col-form-label col-md-5">Observacion(máx 100 caracteres)</label>
											<textarea class="form-control" rows="5" th:field="*{obse}"></textarea>
										</div>
									</div>
								</div>
</div>
									<button type="submit" class="btn btn-danger"
										style="align-content: center; width: 300px; height: 45px">Guardar</button>
								</div>
								</form>
						</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
	<script type="text/javascript">
	document.getElementById("BuscarCodigoInsem").onclick = function func() {
		var x = document.forms["myForm"]["codiPropInse"].value;
		var Url = "http://localhost:8080/buscar/verificarCodigoInseminacion/"
				+ x;
		var xhr = new XMLHttpRequest();
		xhr.open('GET', Url, true);
		xhr.send();
		xhr.onreadystatechange = processRequest;
		function processRequest(e) {
			if (xhr.readyState == 4 && xhr.status == 200) {
				var response1 = JSON.parse(xhr.responseText);
				var result = "Codigo: ";
				result += response1.codiPropInse + "\n";
				result += "Genotipo: ";
				result += response1.idGeno + "\n";
				result += "Lugar de Procedencia: ";
				result += response1.lugaPropInse + "\n";
				result += "Fecha de compra: ";
				result += response1.fechCompPropInse + "\n";
				alert(result);
				
				document.getElementById('cont3').style.color="#ff0000";
				document.getElementById('cont3').innerHTML = 'Código existente, elija otro';
				
			}else {
				
				document.getElementById('cont3').style.color="#00b300";
				document.getElementById('cont3').innerHTML = 'Código válido';
				
			}
		}
	}

</script>
	
</body>
</html>