<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Natalidad</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">natalidad</li>
							<li class="breadcrumb-item active">listado natalidad</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-flex">
									<div class="mr-auto">
										<div class="form-group">
											<a class="btn btn-info"
												th:href="@{/natalidad/agregarNatalidad}"> <span
												class="material-icons"> library_add </span>
											</a>
										</div>
									</div>
								</div>
								<table id="example" class="display nowrap">
									<thead>
										<tr>
											<th>CUIA</th>
											<th>Sexo</th>
											<th>Genotipo</th>
											<th>Fecha Nacimiento</th>
											<th>Peso</th>
											<th>Madre</th>
											<th>Padre</th>
											<th>Cod Inse</th>
											<th>Observacion</th>
											<th>Imagen</th>
											<th>Acciones</th>
										</tr>
									<tbody>
										<tr th:each="model : ${listNatalidad}">
											<td th:text="${model.cuiaNata}" id="CuiaNata"></td>
											<td th:text="${model.idSexo}"></td>
											<td th:text="${model.idGeno}"></td>
											<td th:text="${model.fechNaciNata}"></td>
											<td th:text="${model.pesoNata}"></td>
											<td th:text="${model.cuiaMadr}"></td>
											<td th:text="${model.cuiaPadr}"></td>
											<td th:text="${model.codiProp}"></td>
											<td> <a class="btn btn-success"
													th:onclick="Observacion([[${model.obse}]])" role="button">
													<span class="material-icons" style="color: white"> remove_red_eye </span>
												</a></td>
											<td><img th:src="@{'/uploads/'+${model.foto}}"
												width="40" class="img-circle" th:alt="${model.foto}">
											</td>
											<td>												
												<a class="btn btn-primary"
													th:href="@{/natalidad/updateNatalidad/} + ${model.cuiaNata}"
													role="button"> <span class="material-icons">
														edit </span>
												</a> <a class="btn btn-danger"
													th:onclick="eliminar([[${model.cuiaNata}]])" role="button">
													<span class="material-icons" style="color: white"> delete </span>
												</a>												
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
	<script>
	$(document).ready(function() {
	    $('#example').DataTable( {
	    	"language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            scrollX: true
	    } );
	} );
	</script>
	<script>
	function eliminar(cuiaNata) {
		console.log(cuiaNata);
		swal({
			  title: "Esta seguro de Eliminar",
			  text: "Desea eliminar el registro con CUIA " + cuiaNata+"?",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((OK) => {
			  if (OK) {
				  $.ajax({
					 url:"/natalidad/eliminarNatalidad/"+cuiaNata,
					 success: function(res) {
						console.log(res);
					},			
				  });
			    swal("Registro eliminado!", {
			      icon: "success",
			    }).then((ok)=>{
			    	if(ok){
			    		location.href="/natalidad/ListadoNatalidad";
			    	}
			    });
			  } 
			});
	}
	</script>
	<script>
	function Observacion(obse) { 
		swal(obse);
	}
	</script>
</body>
</html>