<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Ganado enfermo</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a>
							</li>
							<li class="breadcrumb-item">Ganado enfermo</li>
							<li class="breadcrumb-item active">Listado ganado enfermo</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
							<div class="d-flex">
										<div class="mr-auto">
											<div class="form-group">												
												<a class="btn btn-primary" th:href="@{/ganadoEnfermo/agregarGanadoEnfermo}">Agregar</a>
											</div>
										</div>
									</div>
								<table id="myTable"
									class="table table-bordered table-hover toggle-circle footable-loaded footable tablet breakpoint"
									style="width: 100%">
									<thead>
										<tr>
											<th>CUIA</th>
											<th>Alias</th>
											<th>Genotipo</th>
											<th>Fecha de nacimiento</th>
											<th>Edad (Meses)</th>
											<th>Enfermedad</th>
											<th>Fecha de ingreso del enfermo</th>
											<th>Observaciones</th>
											<th>Editar</th>
											<th>Dar de alta</th>
										<tr th:each="model : ${listGanadoEnfermo}">
											<td th:text="${model.cuiaGana}"></td>
											<td th:text="${model.aliaGana}"></td>
											<td th:text="${model.idGeno}"></td>
											<td th:text="${model.fechNaciGana}"></td>
											<td th:text="${model.edadGana}"></td>
											<td th:text="${model.nombEnfe}"></td>
											<td th:text="${model.fechIngr}"></td>
											<td th:text="${model.obse}"></td>
											<td><a class="btn btn-primary"
														th:href="@{/ganadoEnfermo/updateGanadoEnfermo/} + ${model.cuiaGana}" role="button">Editar</a></td>
														<td><a class="btn btn-danger"
												th:onclick="eliminar([[${model.cuiaGana}]])" role="button">Brindar alta</a>
											</td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
	<script>
	function eliminar(cuiaGana) {
		console.log(cuiaGana);
		swal({
			  title: "Esta apunto de dar de alta el registro con el CUIA "+ cuiaGana,
			  text: "¿Desea continuar?",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((OK) => {
			  if (OK) {
				  $.ajax({
					 url:"/ganadoEnfermo/eliminarGanadoEnfermo/"+cuiaGana,
					 success: function(res) {
						console.log(res);
					},			
				  });
			    swal("¡Registro brindado de alta!", {
			      icon: "success",
			    }).then((ok)=>{
			    	if(ok){
			    		location.href="/ganadoEnfermo/ListadoGanadoEnfermo";
			    	}
			    });
			  } 
			});
	}
	</script>
</body>
</html>
