<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Comida Por Tipo de Ganado</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a>
							</li>
							<li class="breadcrumb-item">Comida</li>
							<li class="breadcrumb-item active">listado de comidas</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
							<div class="d-flex">
										<div class="mr-auto">
											<!-- 
											<div class="form-group">												
												<a class="btn btn-primary" th:href="@{/comidaganado/agregarComidaGanado}">agregar
													Registro de Comidas</a>
											</div>
											-->
										</div>
									</div>
									
									<h3 class="text-themecolor">Detalles</h3>
								<table id="myTable"
									class="table table-bordered table-hover toggle-circle footable-loaded footable tablet breakpoint"
									style="width: 100%">
									<thead>
										<tr>
											<th>ID</th>
											<th>Tipo de ganado</th>
											<th>Tipo de comida</th>
											<th>Ración comida</th>
											<th>Suplemento</th>
											<th>Racion(kg)</th>
											<th>Frecuencia</th>
											</thead>
											<tbody>
											<tr th:each="model : ${listComidaportipo}">
											<td th:text="${model.idComiTipo}"></td>
											<td th:text="${model.idTipoGana}"></td>
											<td th:text="${model.idTipoComi}"></td>
											<td th:text="${model.raciComi}"></td>
											<td th:text="${model.idSuple}"></td>
											<td th:text="${model.raciSuple}"></td>
											<td th:text="${model.freComi}"></td>
											<!--  <td><a class="btn btn-primary"
														th:href="@{/comidaganado/updateComidaGanado/} + ${model.idComiGana}" role="button">Editar</a></td>
											<td><a class="btn btn-danger"
														th:href="@{/comidaganado/eliminarComidaGanado/} + ${model.idComiGana}" role="button">Eliminar</a></td>
										-->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
</body>
</html>