<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Leche Producida</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a>
							</li>
							<li class="breadcrumb-item">Leche Producida</li>
							<li class="breadcrumb-item active">Listado Leche Producida</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="d-flex">
									<div class="mr-auto">
										<div class="form-group">
											<a class="btn btn-primary"
												th:href="@{/lecheProducida/agregarLecheProducida}">Agregar</a>
										</div>
									</div>
								</div>
								<table id="myTable"
									class="table table-bordered table-hover toggle-circle footable-loaded footable tablet breakpoint"
									style="width: 80%; margin: 0 auto; ">
									<thead>
										<tr>
											<th>Numero</th>
											<th>Cantidad(lts.)</th>
											<th>fecha Produccion</th>
											<th>cuia Vaca Productora</th>
											<th>Alias</th>
											<th>Editar</th>
											<th>Eliminar</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="model : ${listLecheProducida}">
											<td th:text="${model.idLechProd}"></td>
											<td th:text="${model.cantiLitrLechProd}"></td>
											<td th:text="${model.fechLechProd}"></td>
											<td th:text="${model.cuiaGana}"></td>
											<td th:text="${model.aliaGana}"></td>
											
										<td><a class="btn btn-primary"
														th:href="@{/lecheProducida/updateLecheProducida/} + ${model.idLechProd}" role="button">Editar</a></td>
											
										
										<td><a class="btn btn-danger"
														th:onclick="eliminar([[${model.idLechProd}]])" role="button">Eliminar</a></td>
										
										</tr>
										</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
	
	<script>
	function eliminar(idLechProd) {
		console.log(idLechProd);
		swal({
			  title: "Estas a punto de eliminar el registro con el ID 0"+idLechProd,
			  text: "Deseas continuar?",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((OK) => {
			  if (OK) {
				  $.ajax({
					 url:"/lecheProducida/eliminarLecheProducida/"+idLechProd,
					 success: function(res) {
						console.log(res);
					},			
				  });
			    swal("Registro eliminado!", {
			      icon: "success",
			    }).then((ok)=>{
			    	if(ok){
			    		location.href="/lecheProducida/ListProducionLeche";
			    	}
			    });
			  } 
			});
	}
	</script>
	
</body>
</html>
