<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Vaca En produccion de Leche</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">Vaca En produccion de Leche</li>
							<li class="breadcrumb-item active">listado Vaca En
								produccion de Leche</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<button type="button" class="btn btn-primary"
									data-toggle="modal" data-target="#addModal"
									style="margin-bottom: 20px">Agregar</button>
								<table id="myTable"
									class="table table-bordered table-hover toggle-circle footable-loaded footable tablet breakpoint"
									style="width: 100%">
									<thead>
										<tr>
											<th>Numero</th>
											<th>cuia Ganado</th>
											<th>Alias Ganado</th>
											<th>Suplementos</th>
											<th>Observacion</th>
											<th>Editar</th>
											<th>Eliminar</th>
										<tr th:each="model : ${listVacaProduccionLeche}">
											<td th:text="${model.idVacaProd}"></td>
											<td th:text="${model.cuiaGana}"></td>
											<td th:text="${model.aliaGana}"></td>
											<td th:text="${model.nombSuple}"></td>
											<td th:text="${model.observacion}"></td>
											<td><a class="btn btn-primary"
												th:href="@{/vacasenproduccionleche/updatevacasenproduccionleche/} + ${model.idVacaProd}"
												role="button">Editar</a></td>
												
											<td><a class="btn btn-danger"
												th:onclick ="eliminar([[${model.idVacaProd}]])" role="button">Eliminar</a></td>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form
			th:action="@{/vacasenproduccionleche/addVacadeProducciondeLeche}"
			method="post" name="myForm">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Nuevo Registro</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Cuia
								Ganado: </label> <input type="number" class="form-control"
								id="recipient-name" name="cuiaGana">
						</div>

						<div class="form-group" style="overflow: hidden">
							<div style="float: left;">
								<input type="button" id="buscarcuia" onclick="fungan()"
									value="Validar CUIA" class="btn btn-warning" />
							</div>
							<div style="float: left; margin: 8px;" id="cont1"></div>
						</div>

						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Suplemento
								:</label> <select class="form-control" id="recipient-name"
								name="idSuple" required onclick="validar2()">
								<option value="valorpordefecto" disabled selected>Selecione</option>
								<option value="1">Mastersob premium</option>
								<option value="2">MS cow start plus</option>
								<option value="3">Vz Pulver</option>
								<option value="4">Ms Calf Luck</option>
								<option value="5">Ms Keto Protect Plus</option>
							</select>
						</div>

						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Observacion(Max
								100 Caracteres) :</label>
							<textarea class="form-control" rows="3" name="observacion"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger" name="guardar"
							onclick="validar()">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
	
	<script>
	function eliminar(idVacaProd) {
		console.log(idVacaProd);
		swal({
			  title: "Estas a punto de eliminar el registro con el ID 0"+idVacaProd,
			  text: "Deseas continuar?",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((OK) => {
			  if (OK) {
				  $.ajax({
					 url:"/vacasenproduccionleche/eliminarvacasenproduccionleche/"+idVacaProd,
					 success: function(res) {
						console.log(res);
					},			
				  });
			    swal("Registro eliminado!", {
			      icon: "success",
			    }).then((ok)=>{
			    	if(ok){
			    		location.href="/vacasenproduccionleche/ListadoVacadeProducciondeLeche";
			    	}
			    });
			  } 
			});
	}
	</script>
	
	<script type="text/javascript">
		function validar() {
			if (document.myForm.idSuple.value == "valorpordefecto") {
				alert("Selecione una Opcion");
				document.myForm.guardar.disabled = true;
			}
			;
		}
		function validar2() {
			document.myForm.guardar.disabled = false;
		}
	</script>


	<script type="text/javascript">
		window.onload = function() {
			document.myForm.guardar.disabled = true;
			document.getElementById("buscarcuia").onclick = function fungan() {
				var x = document.forms["myForm"]["cuiaGana"].value;
				var Url = "http://localhost:8080/buscar/verificarGanadoVacunoHembra/"
						+ x;
				var xhr = new XMLHttpRequest();
				xhr.open('GET', Url, true);
				xhr.send();
				xhr.onreadystatechange = processRequest;
				function processRequest(e) {
					if (xhr.readyState == 4 && xhr.status == 200) {
						var response1 = JSON.parse(xhr.responseText);
						var result = "cuia: ";
						result += response1.cuiaGana + "\n";
						result += "alias: ";
						result += response1.aliaGana + "\n";
						result += "fecha Nacimiento: ";
						result += response1.fechNaciGana + "\n";
						//alert(result);
						document.getElementById('cont1').innerHTML = 'El CUIA '
								+ response1.cuiaGana + ' con Alias "'
								+ response1.aliaGana + '" es valido';
						document.myForm.guardar.disabled = false;
					} else {
						document.getElementById('cont1').innerHTML = 'El CUIA ingresado es Incorrecto';
					}
				}
			}
		}
	</script>


</body>
</html>