<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Inseminacion de Ganado</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a>
							</li>
							<li class="breadcrumb-item">Inseminacion</li>
							<li class="breadcrumb-item active">Listado inseminacion</li>
						</ol>
					</div>
				</div>
				
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
							<div class="d-flex">
										<div class="mr-auto">
											<div class="row">
												<div class="col-md-6">
													<div>												
														<a class="btn btn-info" th:href="@{/inseminacion/agregarInseminacion}">
															<span class="material-icons">
																library_add
															</span>
														</a> 
													</div>
												</div>
												
																					
											</div>
										</div>
									</div>
								<table id="example" class="display nowrap">
									<thead>
										<tr>
											<th>Código de pajilla</th>
											<th>Genotipo de Toro procedencia</th>
											<th>Peso de Toro de procedencia</th>
											<th>Talla de Toro de procedencia</th>
											<th>Lugar de Procedencia de pajilla</th>
											<th>Precio de pajilla</th>
											<th>Fecha de Compra de pajilla</th>
											<th>Observación</th>
											<th>Acciones</th>
											</thead>
											<tbody>
										<tr th:each="model : ${listInseminacion}">
											<td th:text="${model.codiPropInse}"></td>
											<td th:text="${model.idGeno}"></td>
											<td th:text="${model.pesoPropInse}"></td>
											<td th:text="${model.tallPropInse}"></td>
											<td th:text="${model.lugaPropInse}"></td>
											<td th:text="${model.precPropInse}"></td>
											<td th:text="${model.fechCompPropInse}"></td>
											<td th:text="${model.obse}"></td>
											<td>
											<a class="btn btn-primary"
														th:href="@{/inseminacion/updateInseminacion/} + ${model.codiPropInse}" role="button">
														<span class="material-icons">
															edit
														</span>
														</a>
											<a class="btn btn-danger"
														th:onclick="eliminar([[${model.codiPropInse}]])"  role="button">
														<span class="material-icons">
														delete
													</span>
														</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
	<script>
	$(document).ready(function() {
	    $('#example').DataTable( {
	        "scrollX": true,
	        "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
	    });
	} );
	</script>
	
	<!-- ALERTA DE ELIMINICACION -->
	<script>
	function eliminar(codiPropInse) {
		console.log(codiPropInse);
		swal({
			  title: "Estás a punto de eliminiar el registro con código " + codiPropInse,
			  text: "¿Deseas continuar? ",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((OK) => {
			  if (OK) {
				  $.ajax({
					 url:"/inseminacion/eliminarInseminacion/"+codiPropInse,
					 success: function(res) {
						console.log(res);
					},			
				  });
			    swal("Registro eliminado!", {
			      icon: "success",
			    }).then((ok)=>{
			    	if(ok){
			    		location.href="/inseminacion/ListadoInseminacion";
			    	}
			    });
			  } 
			});
	}
	</script>
</body>
</html>