<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaUpdate :: head"></head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaUpdate :: header"></header>
		<aside th:replace="layout/plantillaUpdate :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Natalidad</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">natalidad</li>
							<li class="breadcrumb-item active">Update natalidad</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card container">
							<div class="card-body">
								<form th:action="@{/natalidad/update}" method="post"
									th:object="${natalidadFormUpdate}" name="myForm">
									<div class="row">
										<div class="col-md-6">
											<div class="card border-dark mb-3">
												<div class="card-header">Información principal</div>
												<div class="card-body text-secondary">
													<div class="form-group row">
														<label class="col-form-label col-md-5" for="CUIA">CUIA</label>
														<div class="col-md-7">
															<input type="text" class="form-control"
																th:field="*{cuiaNata}" maxlength="5" disabled/>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-form-label col-md-5" for="sexo">Sexo</label>
														<div class="col-md-7">
															<select class="form-control col-12" th:field="*{idSexo}">
																<option value="1">Hembra</option>
																<option value="2">Macho</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-form-label col-md-5" for="genotipo">Genotipo</label>
														<div class="col-md-7">
															<select class="form-control col-12" th:field="*{idGeno}">
																<option value="1">Hereford</option>
																<option value="2">Charolais</option>
																<option value="3">Limousin</option>
																<option value="4">Brahman</option>
																<option value="5">Gyrolando</option>
																<option value="6">Brown Swiss</option>
																<option value="7">Criollo</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-form-label col-md-5"
															for="fechNacimiento">Fecha de Nacimiento</label>
														<div class="col-md-7">
															<input type="date" class="form-control"
																th:field="*{fechNaciNata}" />
														</div>
													</div>
												</div>
											</div>
											<div class="card border-dark mb-3">
												<div class="card-header">Pesaje</div>
												<div class="card-body text-secondary">
													<div class="form-group row">
														<label class="col-form-label col-md-5" for="peso">Peso</label>
														<div class="col-md-7">
															<input type="text" class="form-control"
																th:field="*{pesoNata}" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="card border-dark mb-3">
												<div class="card-header">Origen</div>
												<br>
												<div class="form-group row">
													<div class="col-6">
														<div class="form-check">
															<input class="form-check-input" type="radio"
																name="exampleRadios" id="idInseminacion" checked>
															<label class="form-check-label" for="idInseminacion">
																Inseminación </label>
														</div>
													</div>
													<div class="col-6">
														<div class="form-check" id="groupOrigen">
															<input class="form-check-input" type="radio"
																name="exampleRadios" id="idMonte"> <label
																class="form-check-label" for="idMonte"> Monte </label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-form-label col-md-3" for="CUIAmadre">CUIA
														Madre</label>
													<div class="col-md-4">
														<input type="number" class="form-control"
															th:field="*{cuiaMadr}" name="cuiaMadr" />
													</div>
													<div class="col-md-3">
														<input type="button" class="btn btn-rounded btn-success"
															id="Buscar" onclick="fun()" value="Verificar" />
													</div>
													<div class="col-1" style="padding-top: 5px;">
														<a th:href="@{/ganadoVacuno/agregarGanadoHembra}"
															target="_blank"> <span class="material-icons">
																add_circle </span>
														</a>
													</div>
												</div>
												<div class="row">
													<div class="col-md-5"></div>
													<div class="col-md-7" style="padding-bottom: 30px;">
														<span id="cont1"></span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-form-label col-md-3" for="CUIApadre">CUIA
														Padre</label>
													<div class="col-md-4">
														<input id="cuiaPadreInput" type="number" disabled
															class="form-control" th:field="*{cuiaPadr}"
															name="cuiaPadr" />
													</div>
													<div class="col-md-3">
														<input type="button" class="btn btn-rounded btn-success"
															id="BuscarPadre" onclick="funp()" value="Verificar" />
													</div>
													<div class="col-1" style="padding-top: 5px;">
														<a th:href="@{/ganadoVacuno/agregarGanadoHembra}"
															target="_blank"> <span class="material-icons">
																add_circle </span>
														</a>
													</div>
												</div>
												<div class="row">
													<div class="col-md-5"></div>
													<div class="col-md-7" style="padding-bottom: 30px;">
														<span id="cont2"></span>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-form-label col-md-3" for="observacion">Pajilla</label>
													<div class="col-md-4">
														<input id="codiInseminInput" type="number"
															class="form-control" th:field="*{codiProp}"
															name="codiProp" />
													</div>

													<div class="col-md-3">
														<input type="button" class="btn btn-rounded btn-success"
															id="BuscarInse" onclick="funi()" value="Verificar" />
													</div>
													<div class="col-1" style="padding-top: 5px;">
														<a th:href="@{/ganadoVacuno/agregarGanadoHembra}"
															target="_blank"> <span class="material-icons">
																add_circle </span>
														</a>
													</div>
												</div>
												<div class="row">
													<div class="col-md-5"></div>
													<div class="col-md-7" style="padding-bottom: 30px;">
														<span id="cont3"></span>
													</div>
												</div>
											</div>
											<br>
											<div class="card border-dark mb-3">
												<div class="card-header">Información Adicional</div>
												<div class="card-body text-secondary">
													<div class="form-group row">
														<label class="col-form-label col-md-5" for="observacion">Observación (100 caracteres máx.)</label>
														<div class="col-md-7">
															<textarea class="form-control" rows="5"
																th:field="*{obse}" maxlength="100"></textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button type="submit" class="btn btn-danger"
										style="align-content: center; width: 300px; height: 45px">Guardar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaUpdate :: query"></section>
	<script type="text/javascript">
		var insemi = document.getElementById('idInseminacion');
		var monte = document.getElementById('idMonte');

		var cuiaPadre = document.getElementById('cuiaPadreInput');
		var codiInse = document.getElementById('codiInseminInput');

		function habilitarInputs() {
			if (insemi.checked) {
				codiInse.disabled = false;
				cuiaPadre.disabled = true;
				cuiaPadre.value = 0;

			} else {
				codiInse.disabled = true;
				cuiaPadre.disabled = false;
				codiInse.value = 0;
			}
		}
		insemi.addEventListener('change', habilitarInputs)
		monte.addEventListener('change', habilitarInputs)
	</script>
	<script type="text/javascript">
		document.getElementById("Buscar").onclick = function fun() {
			var x = document.forms["myForm"]["cuiaMadr"].value;
			var Url = "http://localhost:8080/buscar/verificarMadreGanadoVacuno/"
					+ x;
			var xhr = new XMLHttpRequest();
			xhr.open('GET', Url, true);
			xhr.send();
			xhr.onreadystatechange = processRequest;
			function processRequest(e) {
				if (xhr.readyState == 4 && xhr.status == 200) {
					var response1 = JSON.parse(xhr.responseText);
					var result = "Cuia Ganado: ";
					result += response1.cuiaGana + "\n";
					result += "Alias: ";
					result += response1.aliaGana + "\n";
					alert(result);
					document.getElementById('cont1').style.color = "#00b300";
					document.getElementById('cont1').innerHTML = 'CUIA encontrado';
				} else {
					document.getElementById('cont1').style.color = "#ff0000";
					document.getElementById('cont1').innerHTML = 'CUIA no encontrado';
				}
			}
		}
	</script>
	<script type="text/javascript">
		document.getElementById("BuscarPadre").onclick = function funp() {
			var x = document.forms["myForm"]["cuiaPadr"].value;
			var Url = "http://localhost:8080/buscar/verificarMadreGanadoVacuno/"
					+ x;
			var xhr = new XMLHttpRequest();
			xhr.open('GET', Url, true);
			xhr.send();
			xhr.onreadystatechange = processRequest;
			function processRequest(e) {
				if (xhr.readyState == 4 && xhr.status == 200) {
					var response1 = JSON.parse(xhr.responseText);
					var result = "Cuia Ganado: ";
					result += response1.cuiaGana + "\n";
					result += "Alias: ";
					result += response1.aliaGana + "\n";
					alert(result);
					document.getElementById('cont2').style.color = "#00b300";
					document.getElementById('cont2').innerHTML = 'CUIA encontrado';
				} else {
					document.getElementById('cont2').style.color = "#ff0000";
					document.getElementById('cont2').innerHTML = 'CUIA no encontrado';
				}
			}
		}
	</script>
	<script type="text/javascript">
		document.getElementById("BuscarInse").onclick = function funi() {
			var x = document.forms["myForm"]["codiProp"].value;
			var Url = "http://localhost:8080/buscar/verificarCodigoInseminacion/"
					+ x;
			var xhr = new XMLHttpRequest();
			xhr.open('GET', Url, true);
			xhr.send();
			xhr.onreadystatechange = processRequest;
			function processRequest(e) {
				if (xhr.readyState == 4 && xhr.status == 200) {
					var response1 = JSON.parse(xhr.responseText);
					var result = "Codigo: ";
					result += response1.codiPropInse + "\n";
					result += "Genotipo: ";
					result += response1.idGeno + "\n";
					alert(result);

					document.getElementById('cont3').style.color = "#00b300";
					document.getElementById('cont3').innerHTML = 'Código valido';

				} else {

					document.getElementById('cont3').style.color = "#ff0000";
					document.getElementById('cont3').innerHTML = 'Código invalido';

				}
			}
		}
	</script>
</body>
</html>