<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaRecursos :: head"></head>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaRecursos :: header"></header>
		<aside th:replace="layout/plantillaRecursos :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Natalidad</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">natalidad</li>
							<li class="breadcrumb-item active">Registro natalidad</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card container">
							<div class="card-body">
								<form th:action="@{/natalidad/save}" method="post"
									th:object="${natalidadForm}" enctype="multipart/form-data"
									name="myForm">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="CUIA">CUIA</label>
												<div class="col-md-7">
													<input type="text" class="form-control" th:field="*{cuiaNata}" />
												</div>												
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="sexo">Sexo</label>
												<div class="col-md-7">
													<select class="form-control col-12" th:field="*{idSexo}">
														<option value="0">Seleccione</option>
														<option value="1">Hembra</option>
														<option value="2">Macho</option>
													</select>
												</div>												
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="genotipo">Genotipo</label>
												<div class="col-md-7">
													<select class="form-control col-12" th:field="*{idGeno}">
														<option value="0">Seleccione</option>
														<option value="1">Hereford</option>
														<option value="2">Charolais</option>
														<option value="3">Limousin</option>
														<option value="4">Brahman</option>
														<option value="5">Gyrolando</option>
														<option value="6">Brown Swiss</option>
														<option value="7">Criollo</option>
													</select>
												</div>												
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="fechNacimiento">Fecha de Nacimiento</label>
												<div class="col-md-7">
													<input type="date" class="form-control" th:field="*{fechNaciNata}" />
												</div>												
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="peso">Peso(Kg)</label>
												<div class="col-md-7">
													<input type="text" class="form-control" th:field="*{pesoNata}" />
												</div>
											</div>
										</div>
										<div class="col-md-6">
											
											<div class="form-group row">
												<div class="col-6">
													<div class="form-check">
														<input class="form-check-input" type="radio" name="exampleRadios" id="idInseminacion" checked>
														<label class="form-check-label" for="idInseminacion">
															Inseminacion
														</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-check" id="groupOrigen">
														<input class="form-check-input" type="radio" name="exampleRadios" id="idMonte">
															<label class="form-check-label" for="idMonte">
																Monte
															</label>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="CUIAmadre">CUIA Madre</label>
												<div class="col-md-4">
													<input type="text" class="form-control" th:field="*{cuiaMadr}" name="cuiaMadr" />
												</div>
												<div class="col-md-3">
													<input type="button" id="Buscar" onclick="fun()" value="Buscar"/>
												</div>																								
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="cuiaPadreInput">CUIA Padre</label>
												<div class="col-md-7">
													<input id="cuiaPadreInput" type="number" disabled class="form-control" th:field="*{cuiaPadr}" />
												</div>												
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="codiInseminInput">Codigo Inseminacion</label>
												<div class="col-md-7">
													<input id="codiInseminInput" type="number" class="form-control" th:field="*{codiProp}" />
												</div>												
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-5" for="observacion">Observacion</label>
												<div class="col-md-7">
													<textarea class="form-control" rows="5" th:field="*{obse}"></textarea>
												</div>												
											</div>
											<div class="form-group row">
												<label class="col-form-label col-md-7">Subir imagen del ganado</label>
												<div class="col-md-5">
													<input type="file" name="file" class="form-control">
												</div>												
											</div>
										</div>
									</div>
<!-- 									<div class="form-row"> -->
<!--										<div class="form-group col-md-6"> -->
<!-- 											<label for="CUIA">CUIA</label> <input type="text" --> 
<!-- <!-- 												class="form-control" th:field="*{cuiaNata}" /> --> 
<!-- <!-- 										</div> --> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label for="sexo">Sexo</label> <select --> 
<!-- <!-- 												class="form-control col-12" th:field="*{idSexo}"> --> 
<!-- <!-- 												<option value="0">Seleccione</option> 
<!-- <!-- 												<option value="1">Hembra</option> --> 
<!-- <!-- 												<option value="2">Macho</option> -->
<!-- <!-- 											</select> --> 
<!-- 										</div> -->
<!-- 									</div> -->

<!-- 									<div class="form-row"> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label for="genotipo">Genotipo</label> <select --> 
<!-- <!-- 												class="form-control col-12" th:field="*{idGeno}"> --> 
<!-- <!-- 												<option value="0">Seleccione</option> --> 
<!-- <!-- 												<option value="1">Hereford</option> --> 
<!-- <!-- 												<option value="2">Charolais</option> --> 
<!-- <!-- 												<option value="3">Limousin</option> --> 
<!-- <!-- 												<option value="4">Brahman</option> --> 
<!-- <!-- 												<option value="5">Gyrolando</option> --> 
<!-- <!-- 												<option value="6">Brown Swiss</option> --> 
<!-- <!-- 												<option value="7">Criollo</option> --> 
<!-- <!-- 											</select> --> 
<!-- 										</div> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label for="fechNacimiento">Fecha de Nacimiento</label> <input --> 
<!-- <!-- 												type="date" class="form-control" th:field="*{fechNaciNata}" /> --> 
<!-- 										</div> -->
<!-- 									</div> -->

<!-- 									<div class="form-row"> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label for="peso">Peso(Kg)</label> <input type="text" --> 
<!-- <!-- 												class="form-control" th:field="*{pesoNata}" /> --> 
<!-- 										</div> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label for="CUIAmadre">CUIA Madre</label> <input type="text" --> 
<!-- <!-- 												class="form-control" th:field="*{cuiaMadr}" name="cuiaMadr" /> --> 
<!-- <!-- 											<input type="button" id="Buscar" onclick="fun()" --> 
<!-- <!-- 												value="Buscar"/> --> 
<!-- 										</div> -->
<!-- 									</div> -->
<!-- 									<div class="form-group row"> -->
<!-- 										<div class="col-6"> -->
<!-- <!-- 											<div class="form-check"> --> 
<!-- <!-- 												<input class="form-check-input" type="radio" --> 
<!-- <!-- 													name="exampleRadios" id="idInseminacion" checked> <label --> 
<!-- <!-- 													class="form-check-label" for="idInseminacion"> --> 
<!-- <!-- 													Inseminacion </label> --> 
<!-- <!-- 											</div> --> 
<!-- 										</div> -->
<!-- 										<div class="col-6"> -->
<!-- <!-- 											<div class="form-check" id="groupOrigen"> --> -
<!-- <!-- 												<input class="form-check-input" type="radio" --> 
<!-- <!-- 													name="exampleRadios" id="idMonte"> <label --> 
<!-- <!-- 													class="form-check-label" for="idMonte"> Monte </label> --> 
<!-- <!-- 											</div> --> 
<!-- 										</div> -->


<!-- 									</div> -->
<!-- 									<div class="form-row"> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label for="cuiaPadreInput">CUIA Padre</label> <input --> 
<!-- <!-- 												id="cuiaPadreInput" type="number" disabled --> 
<!-- <!-- 												class="form-control" th:field="*{cuiaPadr}" /> --> 
<!-- 										</div> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label for="codiInseminInput">Codigo Inseminacion</label> <input --> 
<!-- <!-- 												id="codiInseminInput" type="number" class="form-control" --> 
<!-- <!-- 												th:field="*{codiProp}" /> --> 
<!-- 										</div> -->
<!-- 									</div> -->

<!-- 									<div class="form-row"> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label for="observacion">Observacion</label> --> 
<!-- <!-- 											<textarea class="form-control" rows="5" th:field="*{obse}"></textarea> --> 
<!-- 										</div> -->
<!-- 										<div class="form-group col-md-6"> -->
<!-- <!-- 											<label>Subir imagen del ganado</label> <input type="file" --> 
<!-- <!-- 												name="file" class="form-control"> --> 
<!-- 										</div> -->
<!-- 									</div> -->

									<button type="submit" class="btn btn-danger"
										style="align-content: center; width: 300px; height: 45px">Guardar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaRecursos :: query"></section>
	<script type="text/javascript">
		var insemi = document.getElementById('idInseminacion');
		var monte = document.getElementById('idMonte');

		var cuiaPadre = document.getElementById('cuiaPadreInput');
		var codiInse = document.getElementById('codiInseminInput');

		function habilitarInputs() {
			if (insemi.checked) {
				codiInse.disabled = false;
				cuiaPadre.disabled = true;
				cuiaPadre.value = 0;

			} else {
				codiInse.disabled = true;
				cuiaPadre.disabled = false;
				codiInse.value = 0;
			}
		}
		insemi.addEventListener('change', habilitarInputs)
		monte.addEventListener('change', habilitarInputs)
	</script>
	<script type="text/javascript">
		window.onload = function() {
			document.getElementById("Buscar").onclick = function fun() {
				var x = document.forms["myForm"]["cuiaMadr"].value;
				var Url = "http://localhost:8080/buscar/verificarMadreGanadoVacuno/" + x;
				var xhr = new XMLHttpRequest();
				xhr.open('GET', Url, true);
				xhr.send();
				xhr.onreadystatechange = processRequest;
				function processRequest(e) {
					if (xhr.readyState == 4 && xhr.status == 200) {
						var response1 = JSON.parse(xhr.responseText);
						var result = "Cuia Ganado: ";
						result += response1.cuiaGana + "\n";
						result += "Sexo: ";
						result += response1.idSexo + "\n";
						result += "Edad: ";
						result += response1.edadGana + "\n";
						result += "Etapa: ";
						result += response1.etapaGana + "\n";
						result += "Alias: ";
						result += response1.aliaGana + "\n";
						result += "Fecha de nacimiento: ";
						result += response1.fechNaciGana + "\n";
						result += "Peso: ";
						result += response1.pesoGana + "\n";
						result += "Talla: ";
						result += response1.tallGana + "\n";
						alert(result);
					}
				}
			}
		}
	</script>
	<!-- comentario -->
</body>
</html>