<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaUpdate :: head"></head>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaUpdate :: header"></header>
		<aside th:replace="layout/plantillaUpdate :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Vaca en Descarte</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">Vaca en Descarte</li>
							<li class="breadcrumb-item active">Update Vaca en Descarte</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<div class="card">
							<div class="card-body">
								<form th:action="@{/vacadedescarte/Actualizarvacadedescarte}"
									method="post" th:object="${vacadedescarteUpdate}">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="recipient-name" class="col-form-label">Cuia
												del ganado:</label> <input type="text" class="form-control"
												th:field="*{cuiaGana}" disabled> <label
												for="recipient-name" class="col-form-label">Observacion
												(100 caracteres maximo)</label>
											<textarea rows="3" th:field="*{obse}" class="form-control"
												maxlength="100"></textarea>
										</div>
									</div>
									<button type="submit" class="btn btn-danger"
										style="align-content: center; width: 300px; height: 45px">Guardar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaUpdate :: query"></section>
</body>
</html>