<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/plantillaUpdate :: head"></head>
</head>
<body class="fix-header card-no-border fix-sidebar">
	<div id="main-wrapper">
		<header th:replace="layout/plantillaUpdate :: header"></header>
		<aside th:replace="layout/plantillaUpdate :: sidebar"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Vaca en Produccion de Leche</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item">Vaca en Produccion de Leche</li>
							<li class="breadcrumb-item active">Update Vaca en Produccion
								de Leche</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<form
									th:action="@{/vacasenproduccionleche/ActualizarVacadeProducciondeLeche}"
									method="post" th:object="${VacaenProducciondeLecheFormUpdate}">
									<div class="form-row">
									<div class="form-group col-md-6" style="display: none">
											<label for="recipient-name" class="col-form-label">Id:</label> <input type="text" class="form-control"
												th:field="*{idVacaProd}">
										</div>
										
										<div class="form-group col-md-6">
											<label for="cuiaGana">Cuia Ganado:</label> <input type="text"
												class="form-control" readonly="readonly"  th:field="*{cuiaGana}" />
										</div>
										<div class="form-group col-md-6">
											<label for="sexo">Suplemento:</label> <select
												class="form-control col-12" th:field="*{idSuple}">
												<option value="1">Mastersob premium</option>
												<option value="2">MS cow start plus</option>
												<option value="3">Vz Pulver</option>
												<option value="4">Ms Calf Luck</option>
												<option value="5">Ms Keto Protect Plus</option>
											</select>
										</div>
										
										<div class="form-group col-md-6">
											<label for="cuiaGana">Observacion:</label> 
												<textarea class="form-control" rows="3" th:field="*{observacion}"></textarea>
										</div>
									</div>
									<button type="submit" class="btn btn-danger"
										style="align-content: center; width: 300px; height: 45px">Guardar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section th:replace="layout/plantillaUpdate :: query"></section>
</body>
</html>